<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageSources>
		<add key="NuGet official package source" value="http://nuget.org/api/v2/" />
		<add key="CI WebStack" value="http://www.myget.org/F/aspnetwebstacknightly/" />
		<add key="CI Katana" value="http://www.myget.org/F/katana/" />
		<add key="CI OWIN" value="http://www.myget.org/F/owin/" />
	</packageSources>
	<disablePackageSources />
	<activePackageSource>
		<add key="NuGet official package source" value="http://nuget.org/api/v2/" />
	</activePackageSource>
</configuration>